[submodule "lib/glfw"]
	path = lib/glfw
	url = https://github.com/glfw/glfw.git
[submodule "lib/SPIRV-Cross"]
	path = lib/SPIRV-Cross
	url = https://github.com/KhronosGroup/SPIRV-Cross.git
[submodule "modules/asset_loader/lib/fx-gltf"]
	path = modules/asset_loader/lib/fx-gltf
	url = https://github.com/jessey-git/fx-gltf.git
[submodule "modules/asset_loader/lib/json"]
	path = modules/asset_loader/lib/json
	url = https://github.com/nlohmann/json.git
[submodule "modules/asset_loader/lib/stb"]
	path = modules/asset_loader/lib/stb
	url = https://github.com/nothings/stb.git
[submodule "modules/camera/lib/glm"]
	path = modules/camera/lib/glm
	url = https://github.com/g-truc/glm.git
[submodule "modules/shader_compiler/lib/glslang"]
	path = modules/shader_compiler/lib/glslang
	url = https://github.com/KhronosGroup/glslang.git
[submodule "modules/gui/lib/imgui"]
	path = modules/gui/lib/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "lib/VulkanMemoryAllocator"]
	path = lib/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "lib/VulkanMemoryAllocator-Hpp"]
	path = lib/VulkanMemoryAllocator-Hpp
	url = https://github.com/malte-v/VulkanMemoryAllocator-Hpp.git
