# IDE specific files
.project
.cproject
.vs/
.vscode/
.idea/
.editorconfig

# build directories
bin/
build/
cmake-build-debug/
cmake-build-release/

# VS build files and binaries
*.exe
*.ilk
*.pdb

# GUI configuration files
imgui.ini

# Generated source and header files for shaders
*.hxx
*.cxx

# Cache for different tasks like source code indexing
.cache/

